.retainer {
  max-width: 750px;
  margin: 30px auto;
  margin-bottom: 10px;
  padding: 10px 30px 30px 30px;
  border: 1px solid #bec2cb;
  border-radius: 20px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
header {
  margin: 10px 0 10px 10px;
  padding: 10px 0 10px 10px;
}
.columns {
  display: flex;
}
.left {
  flex: 0 0 50%;
  border: 1px solid #bec2cb;
  border-radius: 20px;
  padding: 12px 0 12px 15px;
  margin-right: 30px;
}
h1 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}
.info {
  padding: 10px 0;
  font-size: 12px;
}
h5 {
  margin: 20px 0;
  font-weight: 700;
  font-size: 15px;
  font-style: italic;
}
h5:first-letter {
  text-transform: capitalize;
}
.data {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}
.stats {
  padding: 5px 0;
  font-size: 14px;
}
.daily {
  float: right;
  margin: 0;
  padding-right: 50px;
}
.daily-forecast {
  max-width: 500px;
}
.daily p {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.right {
  flex: 0 0 45%;
  border: 1px solid #bec2cb;
  border-radius: 20px;
  padding: 15px 10px;
}
.day-outlook {
  list-style: none;
  padding: 0;
}
.five {
  max-width: 30px;
  margin: 0 auto;
  display: block;
}
h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}
.day {
  font-size: 15px;
}
.row {
  padding: 15px 0 15px 10px;
  margin: 2px 0 2px 2px;
  border: 2px solid #ffffff;
  border-radius: 12px;
  background-color: #d9edc2;
}
.col-4 {
  padding: 0;
}
.temp {
  padding-left: 5px;
}
.degrees {
  font-size: 18px;
}
#city-search {
  display: inline;
  padding-left: 250px;
  font-size: 17px;
}
#search-input {
  padding-right: 100px;
  border: 1px solid;
  border-radius: 5px;
}
#geolocation {
  font-size: 17px;
  background-color: #bec2cb;
  color: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
}
#enter-city {
  background-color: #bec2cb;
  color: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
}
.gitSource {
  display: inline-block;
  padding: 0 450px;
  margin: 0;
}
